
.flex {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    width: 100%;
}



/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 10000; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 25px;
    right: 35px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.mainContainer{
  width: 15%;
    text-align: -webkit-right;
    float: right;
    /*display: inline-block;*/
}

/*Animated Menu Icon (click on it):*/

.containerAnimatedMenuIcon {
    cursor: pointer;
    position: absolute;
    z-index: 1001;
    top: 10px;
    width: 75px;
    /*left: 675px*/
}
.blackColor{
  background-color: black;

}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 3px;
    background-color: #BFBFBF;
    margin: 6px 0;
    transition: 0.4s;
}


/* Rotate first bar */
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-5px, 6px) ;
    transform: rotate(-45deg) translate(-5px, 6px) ;
}

/* Fade out the second bar */
.change .bar2 {
    opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}

.App {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    background-color: rgba(0,0,0,0.4);
    z-index: 1000;
    display: none;
    /* border: 2px solid rebeccapurple; */
}
/*.side-container{
  width: 20%;
}*/
.sidebar{
  height:582px;
  width: 350px;
  background-color: #F1F1F1;
  /*padding: auto;*/
  margin-top: -75px;
  padding-top: 30px;
  border: 2px solid #DBDBDB;
  /*padding-bottom: 100px;*/
  
  
  
}
.submit{
  /* position: absolute; */
  /*top:25px;*/
  /* bottom: 152px; */
    /* left: 143px; */
}
.detailDiv{
      position: absolute;
    width: 946px;
    border: 2px solid black;
    height: 565px;
    top: 52px;
    left: 350px;
}
.tableDiv{
    margin-left: auto;
    border: 2px solid gainsboro;
    text-indent: 25px;
    width: 900px;
    height: 220px;
    overflow: auto;
    background-color: white;
    
}
.disable{
    background-color:grey;
    cursor: not-allowed;
        pointer-events: none; 
        /* opacity: 0.65;  */
}
    .feedboxDiv{
        /* background-color: #F1F1F1; */
        /* position: absolute; */
        
         margin: auto; 
    }
  .App2{
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    top: 0px;
    background-color: rgba(0,0,0,0.4);
    z-index: 1000;
     /* display: none;  */
}      
.close{
    text-shadow: 0 0 2px white;
        color: rgba(255,255,255,1) !important;
    opacity: 1;
    font-size: xx-large;
}

.close:hover{
    text-shadow: 0 0 2px white;
        color: rgba(100,100,100,1) !important;
    opacity: 1;
    font-size: xx-large;
}
